@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
}

/* ---------------------------- header section css below*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgb(63, 63, 63);
}

header a {
  margin: 0 10px;

  font-size: 2em;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

header a:hover {
  color: rgba(255, 130, 130);
  cursor: pointer;
}

.navbar {
  margin: auto;
  width: 100%;
  max-width: 1560px;
}

.title {
  flex: 1;
}

.hamburger {
  margin: auto 2em;

  fill: white
}

.hamburger:hover {
  fill: rgba(255, 130, 130);
  ;

  cursor: pointer;
}

nav {

  display: none;
  margin: 0em;
}


/* ---------------------------- home section css below*/

.home {
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url('./img/Computer-programming.jpeg');
  background-size: cover;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
}

.portfolioButton {
  padding: .25em .5em;
  margin-left: clamp(0px, 20vw, 300px);
  font-size: clamp(0em, 20vw, 5em);
  background-color: rgb(63, 63, 63, .5);
  border: solid;
  border-color: black;
  border-radius: .2em;
  border-width: 2px;
  color: white;

}

/* ---------------------------- resume section css below*/
.resume {
  width: 100%;
  height: 1001px;
  background: red;
}

/* ---------------------------- projects section css below*/
.projects {
  width: 100%;
  height: 1001px;
  background: green;
}

/* ---------------------------- contact section css below*/
.contact {
  width: 100%;
  height: 1001px;
  background: purple;
}

/* ---------------------------- footer section css below*/

.footer {
  width: 100%;
  height: 101px;
  background: black;
}

/* responsive media query's */
@media screen and (width > 800px) {

  /* ---------------------------- header section css below*/
  header {
    padding: 2em;
  }

  .navbar {
    display: flex
  }

  .flexControlHeader {
    flex: 1;
  }

  .hamburger {
    display: none
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: clamp(445px, 60%, 800px);
    margin: auto;
  }

  /* ---------------- home section responsive css below*/
  /* ----------------- resume section responsive css below*/
  /* ----------------- projects section responsive css below*/
  /* ----------------- contact section responsive css below*/
  /* ----------------- footer section responsive css below*/
}

@media screen and (width <=800px) {

  /* ---------------------------- header section css below*/

  .flexControlHeader {
    display: flex;
    padding: 2em;
  }

  .title {
    margin: auto;
    font-size: clamp(0em, 3vw, 1.5em);
  }

  nav a {
    margin: 0;
    background-color: rgb(75, 75, 75);
  }

  nav a:hover {
    background-color: rgba(255, 130, 130);
    color: white;
  }

  .openList {
    display: inline;
  }

  .openList a {
    display: block;
    padding: 1em 1.5em;
  }

  /* ---------------- home section responsive css below*/
  /* ----------------- resume section responsive css below*/
  /* ----------------- projects section responsive css below*/
  /* ----------------- contact section responsive css below*/
  /* ----------------- footer section responsive css below*/

}